#about {
    main > div:first-child { height: 500px; }
    main > div, section { height: auto; }
    header {
        background: url('about/header/about-header.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 0;
        height: 500px;
        color: white;
        height: 100%;
        text-align: center;
        h1 {
            color: white;
            font-weight: 400;
            margin: 0 10px;
        }
        p {
            font-size: 1.4rem;
            font-weight: 300;
        }
        .row {
            position: relative;
            top: 30%;
        }
    }
    main > section.row {
        padding: 2em rem-calc(10);

        > p:first-child {
            font-size: 1.5rem;
            span { color: #82a805; }
        }
        ul li p { font-size: 1.2rem; font-weight: 300; }
        ul li p span { font-weight: 700; }
        > p:last-child {
            font-size: 1.2rem;
            a { text-decoration: underline; }
        }

    }
}