#about {
    header { background: url('about/header/about-header.jpg'); }
    main > section.row {
        padding: 2em rem-calc(10);

        > p:first-child {
            font-size: 1.5rem;
            span { color: #82a805; }
        }
        ul li p { font-size: 1.2rem; font-weight: 300; }
        ul li p span { font-weight: 700; }
        > p:last-child {
            font-size: 1.2rem;
            a { text-decoration: underline; }
        }

    }
}