= content_for :title do
  All users

.row
  .small-12.columns
    %h1
      All users

    = will_paginate @users, renderer: FoundationPagination::Rails
    %table
      %thead
        %tr
          %th User
          - if current_user.admin?
            %th Delete
      %tbody
        = render @users
    -# %ul.users
    = will_paginate @users, renderer: FoundationPagination::Rails
