%section#general-info
  .row
    .small-12.medium-4.columns
      = image_tag 'https://s3-us-west-2.amazonaws.com/mvp-used-cars/images/home/general-info/clock.svg', onerror: "this.onerror=null; this.src='https://s3-us-west-2.amazonaws.com/mvp-used-cars/images/home/general-info/clock.png'"
      %p
        0900-1730
        %br
        Monday-Saturday
        %br
        Appointments available
    .smal-12.medium-4.columns
      = image_tag 'https://s3-us-west-2.amazonaws.com/mvp-used-cars/images/home/general-info/phone.svg', onerror: "this.onerror=null; this.src='https://s3-us-west-2.amazonaws.com/mvp-used-cars/images/home/general-info/phone.png'"
      %p
        %a{ href: 'tel:080-4058-5771' } 080-4058-5771
        %br
        %a{ href: 'tel:0176-58-6903' } 0176-58-6903
        %br
        %a{ href: 'mailto:sales@mvpusedcars.com' } Sales@MVPUsedCars.com
    .small-12.medium-4.columns
      = image_tag 'https://s3-us-west-2.amazonaws.com/mvp-used-cars/images/home/general-info/location.svg', onerror: "this.onerror=null; this.src='https://s3-us-west-2.amazonaws.com/mvp-used-cars/images/home/general-info/location.png'"
      %p
        Exit the POL/Falcon Gate. Continue straight until the first stop light.
        MVP Used Cars will be on right
