= content_for :title do
  About Us - Misawa Used Cars
%div#hero
  %header
    .row
      .small-6.small-centered.columns
        = image_tag 'about/header/about.svg', onerror: "this.onerror=null; this.src='/assets/about/header/about.png'"
      %h1
        About Us
      %p
        Learn about our company and what makes us the best place to purchase a car in Misawa Air Force Base
%section.row
  %p
    %span
      MVP Used Cars
    is an used car dealership company. We are based in Misawa Air Force Base, Japan. We have been serving the men and women of Misawa Air Force Base with quality used cars for over 10 years
  %ul.circle
    %li
      %p
        %span
          Competitive pricing
        We are committed to give you the best price and value for car purchase. Talk to us and we can find a way to fit your budget.
    %li
      %p
        %span
          Service
        Our staff members are Air Force retirees, so we understand what you will need to find the perfect car for your staff here in Misawa.
    %li
      %p
        %span
          Quality
        Our cars are reliable and ready to be purchased today. Our cars would last you your whole stay in Misawa and years afterwards.
  %p
    To get started simply
    = link_to 'Contact Us', contact_path
    , and tell us about your vehicle needs
