= content_for :title do
  Frequently Asked Questions - Used cars in Misawa
%div#hero
  %header
    .row
      .small-6.small-centered.columns
        = image_tag 'https://s3-us-west-2.amazonaws.com/mvp-used-cars/images/faq/header/faq.svg', onerror: "this.onerror=null; this.src='https://s3-us-west-2.amazonaws.com/mvp-used-cars/images/faq/header/faq.png'"
      %h1
        Frequently Asked Questions
      %p
        These FAQs answer everything you'll need to know to buy a car in Misawa
%section
  .row
    %dl.accordion( data-accordion )
      %dd
        %a.active{ href: '#panel1' }
          Why should I purchase a car from MVP Used Cars?
        #panel1.content.active
          When you purchase from MVP Used Cars, you get a quality vehicle with 2 years of JCI, 30 day bumper to bumper, and 6 month engine and transmission.
          Our staff includes retired military that are familiar with the whole process of purchasing and owning a car in Misawa. You’re in good hands
      %dd
        %a{ href: '#panel2' }
          What is JCI?
        #panel2.content
          JCI stands for Japanese Compulsory Insurance. Japan requires that all cars must have this minimum amount of insurance. All car purchases from comes with 2 year JCI.
      %dd
        %a{ href: '#panel3' }
          Is JCI considered Liability Insurance?
        #panel3.content
          JCI is different from Liability insurance. Liability can be purchased at AIU or Ford Insurance Company off-base. It can be purchased 3 month, 6 and up to 1 year
      %dd
        %a{ href: '#panel4' }
          Is JCI considered Liability Insurance?
        #panel4.content
          JCI is different from Liability insurance. Liability can be purchased at AIU or Ford Insurance Company off-base. It can be purchased 3 month, 6 and up to 1 year
      %dd
        %a{ href: '#panel5' }
          What is Road Tax?
        #panel5.content
          Road Tax is paid once a year every April. The amount depends on the size/type of vehicle and can vary from 10,000 - 18,000 yen
      %dd
        %a{ href: '#panel6' }
          Can I buy cars without JCI?
        #panel6.content
          Yes, you can either do the JCI yourself or ask an off-base company to do the JCI for you.
      %dd
        %a{ href: '#panel7' }
          Can I buy a car as-is from MVP Used Cars?
        #panel7.content
          Yes, you can buy a car as-is, without JCI. If you do choose to purchase a car as-is, then MVP Used Cars guarantees the car passes inspection.
      %dd
        %a{ href: '#panel8' }
          Why would I want to buy a car as-is?
        #panel8.content
          You can save some money by not including our 6 months engine/transmission warranty. If you do choose to purchase a car as-is, then MVP Used Cars guarantees the car passes inspection.
      %dd
        %a{ href: '#panel9' }
          Do you give a loaner car if my car needs repairs?
        #panel9.content
          Yes, if your car needs to get repaired for more than 1 day, then we will give you a rental car.
      %dd
        %a{ href: '#panel10' }
          After 2 years, can you re-JCI my car?
        #panel10.content
          Yes, we are more than happy to take care of your JCI when your JCI expires.
      %dd
        %a{ href: '#panel11' }
          Can I purchase a car before I arrive to Misawa?
        #panel11.content
          Yes, you can view our current inventory online, and we can negotiate the price. After you have decided, we can have your car ready for you to pick up once you arrive. Additionally, we will give you a free extended warranty if you purchase online.
      %dd
        %a{ href: '#panel12' }
          I want to buy a car in cash, so can I get a discount?
        #panel12.content
          Yes, we offer discounts on our cars if purchased in cash. Just make an offer.
      %dd
        %a{ href: '#panel13' }
          Do you offer financing?
        #panel13.content
          Yes, we have in house financing with affordable monthly interest free payments.
      %dd
        %a{ href: '#panel14' }
          Are all your cars good at snow?
        #panel14.content
          Yes, most of our cars are 4WD.
      %dd
        %a{ href: '#panel15' }
          Does your car come with 2 sets of tires?
        #panel15.content
          If the car comes with summer tires, then we’ll include a set of Mud and Snow tires, also known as all year round tires, for free. If the car already has mud and snow tires, then you have the option of another set of summer or all season tires.
      %dd
        %a{ href: '#panel16' }
          Do you offer incentives?
        #panel16.content
          Yes, we have a variety of incentives to offer you upon negotiation.
