= content_for :title do
  Directions - Misawa Air Force Base
<iframe width="650" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.jp/maps?ie=UTF8&amp;q=MVP+Used+Cars&amp;fb=1&amp;gl=jp&amp;hq=mvp+used+cars&amp;hnear=0x5f9c9e15d6a6af33:0x47ad9465cf39c203,Misawa,+Aomori+Prefecture&amp;cid=8853326298653188672&amp;t=m&amp;brcurrent=3,0x5f9b5e39a6e2bd5f:0x3970eedef2c0c878,0&amp;ll=40.696909,141.377349&amp;spn=0.005694,0.020599&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.jp/maps?ie=UTF8&amp;q=MVP+Used+Cars&amp;fb=1&amp;gl=jp&amp;hq=mvp+used+cars&amp;hnear=0x5f9c9e15d6a6af33:0x47ad9465cf39c203,Misawa,+Aomori+Prefecture&amp;cid=8853326298653188672&amp;t=m&amp;brcurrent=3,0x5f9b5e39a6e2bd5f:0x3970eedef2c0c878,0&amp;ll=40.696909,141.377349&amp;spn=0.005694,0.020599&amp;z=16&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
%address
  青森県三沢市 岡三沢六丁目15−15
%address
  〒 033-0021 Aomori Prefecture Misawa Oka-Misawa Roku-Chome  15-15
%p
  Exit the POL/Falcon gate and go straight until the first stop light. MVP Used Cars will be to your right.
