#inventory {
    header { background: url('https://s3-us-west-2.amazonaws.com/mvp-used-cars/images/inventory/header/inventory-header.jpg'); }

    #cars {
        background: #f4f4f4;
        padding: 2em 0;
        ul li > p {
            max-height: 28px;
            margin-bottom: 0;
            background: white;
            padding: 0.1em 0.7em;
        }
        // full width images
        li a img { width: 999px; }

        @media #{$small-only} {
            ul {
                margin: 0;
                li { padding: 0 0 1.25rem 0;}
            }
        }
    }
    #request-car {
        background: #60A4C6;
        color: white;
        text-align: center;
        padding: 2em 0;
        h2 {
            color: white;
            font-weight: 400;
        }
        p {
            font-weight: 200;
            font-size: 1.2rem;
            margin-bottom: 0 0 1em 0;
        }
    }
}