#car-details {
    header {
        background: #DEDCD8;
        h1 {
            margin: 0 0.9375rem;
            text-align: right;
            color: white;
            font-weight: 400;
            font-size: 4em;
            span { color: gray; }

            @media #{$small-only} {
                &.smaller {
                    font-size: 1.7em;
                    margin-bottom: 0.18em;
                }
            }
        }
    }
    #car-details {
        margin-top: -1.22em;
        border-bottom: solid 1px #ccc;
        #gallery {
            border-bottom: solid 1px #ccc;
            padding: 2em 0 0.75rem 0;
            background: #f4f4f4;
            .carousel-margin { height: 80px; margin-top: 40px; }
        }
        #info {
            text-align: center;
            padding: 1em 0 0 0;
            background: #eeeeee;
            .row { padding: 0 4% 0 9%; }
            p { text-align: left; }
            p span:first-child { color: #7D7D7D; }
            p span:last-child { font-weight: bold;  }
            // avoid info from collapsing to another row
            .columns { padding-left: 0; padding-right: 0; }
        }
        li { margin-right: 0; }
        li a img { width: 310px; }
        #info { }
    }
    #enquire {
        padding: 2em 0;
        background: #60A4C6;
        color: white;
        text-align: center;
        .button { padding: 1rem 4rem 1rem 4rem !important; margin: 0;}
        .button span {
            font-weight: 100;
        }
    }
    #view-more {
        padding: 1em 0 0.75em 0;
        background: #eee;
        h1 { font-size: 1.5rem; text-align: center; margin-bottom: 1rem; }
        img { width: 999px; }
        ul li > p {
            margin-bottom: 0;
            background: white;
            padding: 0.1em 0.7em;
            max-height: 28px;
        }
        @media #{$small-only} {
            ul {
                margin: 0;
                li { padding: 0 0 1.25rem 0;}
            }
        }
    }
    @media #{$small-only} {
        header {
            h1 {
                font-size: 2.5em;
                text-align: center;
            }
        }
        #car-details {
            margin-top: -0.79em;
        }
    }
}