// Nav for car show pages
#car-nav {
    height: 50px;
    line-height: 50px;
    .nav-logo {
        position: absolute;
        width: 80px;
        left: 50%;
        margin-left: -40px;
        opacity: 0.5;
        @include transition-property(opacity);
        @include transition-duration(85ms);
        @include transition-timing-function(ease-in);
        &:hover { opacity: 1; }
    }
    .name { float: left; background: #acdb1d; }
    li:not(.has-form) { height: 50px; }
    > ul li > a {
        line-height: 50px;
        font-size: 1.0625rem;
        margin: 0;
        font-weight: 400;
        color: white;
        padding: 0 1em 0 2em;
    }
    .top-bar-section {
        ul { margin-right: 0; }
        li { margin-right: 0; }
        .divider { border-color: $primary-color; }
        li:not(.has-form) a:not(.button) {
            background: #acdb1d;
            line-height: 50px;
            top: 0;
            font-size: 1.0625rem;
        }
    }
    // Base icon style
    .icon {
        color: white;
        font-family: 'entypo';
        font-size: 3rem;
        position: absolute;
        line-height: 50px;
        top: 0;
        z-index: 1;
        @include transition-property(color);
        @include transition-duration(300ms);
    }
    // Back to Inventory
    .name > a {
        padding: 1em 1em 0.9em 2em;
        &:before { @extend .icon; content: '\268F'; left: 0.15em; }
        @include transition-property(background);
        @include transition-duration(300ms);
        &:hover { background: saturate(#acdb1d, 10%); }
    }
    .prev-main, .next-main { position: absolute; }
    .top-bar-section li:not(.has-form):nth-child(2) > a {
        padding: 0 0.5em 0 1.6em;
        color: white;

        &:hover {
            background: saturate(#acdb1d, 10%);
        }
        .prev-main {
            &:before { @extend .icon; content: '\E765'; }
            top: 0;
            left: 0.35em;
        }
    }
    .top-bar-section li:not(.has-form):nth-child(4) > a {
        padding: 0 1.5em 0 0.5em;
        color: white;
        &:hover { background: saturate(#acdb1d, 10%); }
        .next-main {
            top: 0;
            right: -0.3em;
            &:after { @extend .icon; content: '\E766'; right: 0.2em; }
        }
    }
    @media #{$small-only} {
        > ul li.name > a {
            font-size: 0.8rem;
            padding: 1em 0.5rem 1em 2rem;
        }
        .name:hover {
            &:before { color: white !important; }
            a { color: white !important; }
        }
        .prev-small, .next-small { position: relative; }
        .prev-main, .next-main { display: none; }
        #nav-prev-next > ul {
            position: absolute;
            top: 0;
            right: 0;
            li { float: left; }
            a {
                font-family: 'entypo';
                color: white;
                font-size: 3rem;
                line-height: 50px;
            }
            .prev-small > a, .next-small > a { padding: 1px 1rem; background: #acdb1d; &:hover { background: saturate(#acdb1d, 10%); } }
            .prev-small > a { border-right: solid 1px $primary-color; }
        }
    }
}
#inventory {
    header { background: url('inventory/header/inventory-header.jpg'); }

    #cars {
        background: #f4f4f4;
        padding: 2em 0;
        ul li > p {
            max-height: 28px;
            margin-bottom: 0;
            background: white;
            padding: 0.1em 0.7em;
        }
        // full width images
        li a img { width: 999px; }
    }
    #request-car {
        background: #60A4C6;
        color: white;
        text-align: center;
        padding: 2em 0;
        h2 {
            color: white;
            font-weight: 400;
        }
        p {
            font-weight: 200;
            font-size: 1.2rem;
            margin-bottom: 0 0 1em 0;
        }
    }
}
#car-details {
    header {
        background: #DEDCD8;
        h1 {
            margin: 0 0.9375rem;
            text-align: right;
            color: white;
            font-weight: 400;
            font-size: 4em;
            span { color: gray; }

            @media #{$small-only} {
                &.smaller {
                    font-size: 1.7em;
                    margin-bottom: 0.18em;
                }
            }
        }
    }
    #car-details {
        margin-top: -1.22em;
        border-bottom: solid 1px #ccc;
        #gallery {
            border-bottom: solid 1px #ccc;
            padding: 2em 0 0.75rem 0;
            background: #f4f4f4;
            .carousel-margin { height: 80px; margin-top: 40px; }
        }
        #info {
            text-align: center;
            padding: 1em 0 0 0;
            background: #eeeeee;
            .row { padding: 0 4% 0 9%; }
            p { text-align: left; }
            p span:first-child { color: #7D7D7D; }
            p span:last-child { font-weight: bold;  }
            // avoid info from collapsing to another row
            .columns { padding-left: 0; padding-right: 0; }
        }
        li { margin-right: 0; }
        li a img { width: 310px; }
        #info { }
    }
    #enquire {
        padding: 2em 0;
        background: #60A4C6;
        color: white;
        text-align: center;
        .button { padding: 1rem 4rem 1rem 4rem !important; margin: 0;}
        .button span {
            font-weight: 100;
        }
    }
    #view-more {
        padding: 1em 0 0.75em 0;
        background: #eee;
        h1 { font-size: 1.5rem; text-align: center; margin-bottom: 1rem; }
        img { width: 999px; }
        ul li > p {
            margin-bottom: 0;
            background: white;
            padding: 0.1em 0.7em;
            max-height: 28px;
        }
    }
    @media #{$small-only} {
        header {
            h1 {
                font-size: 2.5em;
                text-align: center;
            }
        }
        #car-details {
            margin-top: -0.79em;
        }
    }
}