= content_for :title do
  All cars

.row
  .small-12.columns
    %h1
      All cars

    = will_paginate @cars, renderer: FoundationPagination::Rails
    %ul.cars
      = render @cars
    = will_paginate @cars, renderer: FoundationPagination::Rails
