.row
  .small-12.columns
    %h1
      = review.customer
    %p
      = review.car
.row
  .small-12.columns
    = link_to image_tag(review.photo.url(:thumb)), edit_review_path(review)
.row
  .small-12.columns
    %p
      = review.body
