html, body { height: 100%; }
#user-layout {
    &.f-topbar-fixed {
        padding-top: 0 !important;
        @media #{$large-up} {
            padding-top: 50px !important;
        }
    }
    main, div.off-canvas, div.inner-wrap, .content, .sidebar, .sidebar-inner, .side-nav { height: 100%; }
    @import 'topbar';
    @import 'tab-bar';
    .content {
        min-height: 300px;
        @import 'sidebar';
        .mainbar {
            > h1 { margin: 0; }
            width: 100%;
            @media #{$large-up} {
                margin-left: 15%;
                width: 85%;
            }
        }
        aside.left-off-canvas-menu {
            min-height: 300px;
        }
    }

}