nav.top-bar {
    height: 50px;
    line-height: 50px;
    .nav-logo {
        a > img {
            height: 50px;
            margin-left: 10px;
        }
    }


    li:not(.has-form) { height: 50px; }
    > ul li > a {
        line-height: 50px;
        font-size: 1.0625rem;
        margin: 0;
        font-weight: 400;
        color: white;
        padding: 0 1em 0 2em;
    }
    .top-bar-section {
        ul { margin-right: 0; }
        li { margin-right: 0; }
        li:not(.has-form) a:not(.button) {
            line-height: 50px;
            top: 0;
            padding-left: 25px;
        }
        li:hover > a { color: white; }
        ul.dropdown {
            @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
            li {
                > a { padding-right: 1px; }
                &:hover > a {
                    background: white;
                    color: #9dc81a;
                }
            }
        }
        #username {
            &:hover:after {
                border-color: #82a805 transparent transparent transparent;
            }
            &:hover { color: #9dc81a; }
            &:after {
                top: 25px;
                margin-right: 20px;
            }
        }
        ul.dropdown > li > a {
            background: lighten(#9dc81a, 2%);
        }
    }
}